body {
    background-image: url("../images/background.jpg");
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 60px;
    
}

.container {
    width: 960px;
}

#jumbo {
    background-color: #ed7b84;
    text-align: center;
}

.card-header {
    text-align: center;
    background-color: #f5dbcb;
}

